---
import BaseHead from "./BaseHead.astro";
import "../styles/app.css";

interface Props {
  title?: string;
}

const { title = "OneThing for Teams" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} />
  </head>
  <body class="min-h-screen bg-ctp-base">
    <slot />
  </body>
</html>
